{% load  static %}
{% include 'header.html'%}
    <section>
        <div>
            <img src="{% static 'images/about-us-page-heading.jpg' %}" alt="about-us-page-heading" class="bannerimg">
            <h1 class="Med11">About Our comapany</h1>
        </div>

    </section>

    <section class="container" style="padding-top:40px;padding-bottom:40px;">
       
        <div class="row divaboutus">
            <div class="col-lg-6">
                <div style="padding-bottom:50px;">
                    <img src="{% static 'images/about-left-image.jpg' %}" style=" width:100%;  ">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <h1 id="abouthead">About Us & Our Skills</h1>
                    <p class="Aparagraph">We are a premier shopping destination for fashionable clothes, dedicated to providing customers with the latest trends and high-quality clothing options.
                    </p>
                    <p class="Aparagraph">With a wide range of styles and sizes, our diverse collection caters to every individual's unique fashion preferences.</p>
                    <p class="Aparagraph">From casual wear to formal attire, we aim to empower our customers to express themselves confidently through their clothing choices. Our commitment to excellent customer service ensures a seamless shopping experience, making us the go-to destination for all your fashion needs. 
                    </p>
                    <p class="Aparagraph">Discover the joy of shopping with us and elevate your wardrobe with our trendy and stylish clothing options.</p>
                    
                </div>
            </div>
        </div>
       
    </section>
    <hr>
    <section style="padding-bottom:40px;">
        <h1 class="Aboutheading">Our Amazing Team</h1>
        <p class="Aboutcaption">Passionate and creative team dedicated to curating the trendiest and high-quality clothing selection for our valued customers.</p>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 100%; ">
                        <img src="{% static 'images/team-member-01.jpg' %}" alt="team-member-01">
                        <div class="card-body">
                            <h3 class="Aboutcardheading">Ragnar Lodbrok</h3>
                            <p class="Aboutcardtext">Product CareTaker</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 100%; ">
                        <img src="{% static 'images/team-member-02.jpg' %}" alt="team-member-02">
                        <div class="card-body">
                            <h3 class="Aboutcardheading"> Jhon Thomas</h3>
                            <p class="Aboutcardtext">Marketing handler</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width:100%;">
                        <img src="{% static 'images/team-member-03.jpg' %}" alt="team-member-03">
                        <div class="card-body">
                            <h3 class="Aboutcardheading">Tom Cruies</h3>
                            <p class="Aboutcardtext">Clothes Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section style=" padding-bottom:40px;">
        <h1 class="Serviceheading">Our Services</h1>
        
        <div class="container">
            <p class="servicecaption">Enjoy a seamless  shopping experience with our excellent customer service, and on-trend fashion choices.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title ServiceCardTitle">Synther Vaporware</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>

                    </div>
                    <div class="card" style="width:100%;">
                        <img src="{% static 'images/service-01.jpg' %}" class="card-img-bottom" alt="service-01">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title ServiceCardTitle">Locavore Squidward</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>

                    </div>
                    <div class="card" style="width:100%;">
                        <img src="{% static 'images/service-02.jpg' %}" class="card-img-bottom" alt="service-02">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title ServiceCardTitle">Health Gothfam</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>

                    </div>
                    <div class="card" style="width:100%;">
                        <img src="{% static 'images/service-03.jpg' %}" class="card-img-bottom" alt="service-03">
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section class="container-fluid" style="padding-top:40px;padding-bottom:50px;">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="heading" style="padding-top: 0px!important;">
              By Subscribing To Our newsletter You Can Get 30% Off
            </h1>
    
            <form>
              <input class="form" type="text" name="name" placeholder="Your Name" required><br><br>
              <input class="form" type="Email" name="email" placeholder="Your Email Address" required><br><br>
              <button id="formbtn" type="submit">Submit</button>
            </form>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6">
                <div class="Content">
                  <h2 class="Headingtestimonial">Store Location:</h2>
                  <p class="captiontestimonial">Codezeal Technology Pvt.Ltd</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="Content">
                  <h2 class="Headingtestimonial">Work Hours:</h2>
                  <p class="captiontestimonial">07:30 AM - 9:30 PM Daily</p>
                </div>
    
              </div>
              <div class="col-lg-6">
                <div class="Content">
                  <h2 class="Headingtestimonial">Phone:</h2>
                  <p class="captiontestimonial">010-020-0340</p>
                </div>
    
    
              </div>
    
              <div class="col-lg-6">
                <div class="Content">
                  <h2 class="Headingtestimonial">Email:</h2>
                  <p class="captiontestimonial">info@company.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="Content">
                  <h2 class="Headingtestimonial">Office Location:</h2>
                  <p class="captiontestimonial">Mimec IT Park</p>
                </div>
    
              </div>
              <div class="col-lg-6">
                <div class="Content">
                  <h2 class="Headingtestimonial">Social Media:</h2>
                  <p class="captiontestimonial">Facebook,Instagram,Linkedin</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% include 'footer.html'%}
   