{% load  static %}
{% include 'header.html'%}
    <section style=" padding-bottom:40px;" >
        <h1 class="heading" style="text-align: center; margin-bottom: 50px;">Men's Shirt Collection</h1>
        <div class="container">
            <div class="row">
                {% for menshirts in menshirt %}
                <div class="col-md-4">
                    <div class="card" style="width: 100%; ">
                        <img src="../../{{menshirts.image}}">
                        <div class="card-body">
                            <h3 class="cardheading">Dark Red Classic Shirt</h3>
                            <span style="background-color:yellow;">Offer Price:- {{menshirts.offerp}}/-</span><br>
                            Price:- <strike>{{menshirts.price}}/-</strike><br>
                            <div class="Cbtn">
                                
                                <a href="{% url 'add_to_cart' 'menshirt' menshirts.id  %}" class="Cardbtn" style="margin-left: 15px;">Add to cart</a>
                            </div>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    {% include 'footer.html'%}